.header__lang-link {
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 6px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 8px;
  }
}