.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link {
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
    width: 30px;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    width: 22px;
    font-size: 18px;
    line-height: 111%;
    padding-bottom: 6px;
  }
}