.header__lang-link:nth-of-type(1) {
    text-decoration: underline;
    padding-right: 18px;
}

.header__lang-link {
    line-height: 28px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: right;
    text-decoration: none;
    color: #ffffff;
    margin: 0;
}

@media screen and (max-width: 425px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}