.header__lang-link:nth-of-type(1) {
    margin-right: 18px;

}

.header__lang-link {
    width: 30px;
    height: 28px;
    font-size: 28px;
    font-weight: 400;
    line-height: 28px;
    color: #ffffff;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    width: 22px;
    height: 20px;
  }
}