.cover__link {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 740px;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-image: url(../../../sprint-3-images/__background.jpg);
    background-size: cover;
    color: #FFFFFF;
    text-decoration: none;
}

.cover__link::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A2C2F;
    content: '';
    opacity: .3;
    transition: .8s;
}
.cover__link:hover::before {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .cover__link {
        min-height: 740px;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 640px;
    }
}

@media screen and (max-width: 767px) {
    .cover__link {
        min-height: 480px;
    }
}

@media screen and (max-width: 319px) {
    .cover__link {
        min-height: 200px;
    }
}