.cover__link { 

  margin: 0; 
  width: 100%; 
  background-image: url(../../../sprint-3-images/__background.jpg); 
  background-size: cover; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  text-decoration: none; 
  color: white; 
  position: relative; 
  z-index: 1; 
  min-height: 740px; 
  padding: 0; 
  padding-bottom: 0%; 

} 



.cover__link::before { 

  content: ''; 
  position: absolute; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  z-index: -1; 
  top: 0; 
  background-color: #2A2C2F; 
  transition: opacity 0.35s; 
  opacity: 0.3; 

} 



.cover__link:hover:before { 

  opacity: 0.8; 

} 



@media screen and (max-width: 1024px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    min-height: 480px;
  }
}
 
@media screen and (max-width: 767px) {
  .cover__link {
    min-width: 320px;
    min-height: calc(200px + 280*(100vh - 768px)/355);
  }
}

@media screen and (max-width: 320px) {
  .cover__link {
    min-width: 320px;
    min-height: 200px;
  }
}