.photo-grid {
    display: grid;
    width: 1184px;
    grid-template-columns: 284px 284px 284px 284px;
    grid-template-rows: 213px 213px 213px;
    margin: auto;
    gap: 16px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 225px 225px 225px 225px;
        gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: 352px 352px;
        grid-template-rows: 264px 264px 264px 264px 264px 264px;
        gap: 16px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid {
        grid-template-columns: 288px;
        grid-template-rows: 216px 12;
        gap: 12px;
    }
}