.intro__list {
    height: 90px;
    list-style-type: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin-bottom: 92px;
    margin-left: -39px;
}