.intro__list {
    list-style-type: none;
    max-width: 690px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: 32px 0 0;
    padding: 0;
    line-height: 150%;
}

@media screen and (max-width: 425px) {
    .intro__list {
      margin-top: 33px;
    }
  }