.intro__table {
    width: 690px;
    height: 429px;
    color: #FFFFFF;
    margin-left: 148px;
    margin-top: 114px;
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .intro__table {
      width: 690px;
      margin-left: 48px;
      margin-bottom: 90px;
    }
  }

  @media screen and (max-width: 768px) {
    .intro__table {
      width: 720px;
      margin-left: 24px;
      margin-right: 24px;
      margin-bottom: 88px;
    }
  }

  @media screen and (max-width: 320px) {
    .intro__table {
      width: 288px;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 84px;
    }
  }
