.lead {
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    margin: 0 auto;
    padding-top: 56px;
    max-width: 984px;
    flex-direction: column;
    align-items: center;
}

  @media screen and (max-width: 1024px) {
    .lead {
      padding: 48px 48px 0;
    }
  }

  @media screen and (max-width: 768px) {
    .lead {
      padding: 48px 0 0;
    }
  }

  @media screen and (max-width: 320px) {
    .lead {
      padding: 42px 0 0;
    }
  }