.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width: 360px;
    line-height: 122%;
    margin: 32px auto;
    margin-bottom: 0;
    text-align: center; 
}

    @media (max-width: 1024px) {
        .cover__subtitle {
            margin-bottom: 195px;
        }
    }
    
    @media (max-width: 768px) {
        .cover__subtitle {
            margin-bottom: 115px;
        }
    }
    

    @media (max-width: 320px) {
        .cover__subtitle {
           max-width: 90%;
           margin-top: 16px;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 33px;
        }
    }