.cover__subtitle {
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    max-width: 360px;
    line-height: 122%;
    margin: 32px auto;
    text-align: center; 
}




    @media screen and (max-width: 320px) {
        .cover__subtitle {
         min-height: 200px;
         font-size: 14px;
         margin-top: 16px;
        }
    }