.footer__link {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    margin-right: 18px;
  }
  
  @media screen and (max-width: 768px) {
    .footer__link {
      line-height: 24px;
      
    }
  }
  
  @media screen and (max-width: 425px) {
    .footer__link {
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 32px;
    }
  }
