.lead__title {
    width: 720px;
    line-height: 104%;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
    margin-top: 100px;
    color: #FFFFFF;
    border: solid 1px #d02828;

}

@media screen and (max-width: 319px) {
    .lead__title {
        font-size: 40px;
        margin: 48px 16px;
    }
}