.lead__title {
    max-width: 720px;
    line-height: 104%;
    font-size: 96px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}

@media screen and (max-width: 720px) {
    .lead__title {
      font-size: 46px;
    }
  }

@media screen and (max-width: 320px) {
    .lead__title {
        font-size: 40px;
        margin: 48px 16px;
        line-height: 110%;
    }
}