.footer__links {
    display: flex;
    position: relative;
    width: 1184px;
    height: 18px;
    margin: 92px 48px 24px 48px;
}
@media screen and (max-width: 320px) {
    .footer__links {
        display: flex;
        flex-direction: column;
    }
}
