.place__paragraph {
    list-style-type: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    margin-bottom: 0;
    padding: 0;

}

@media screen and (max-width: 768px) {
    .place__paragraph {
       font-size: 16px;
       margin-bottom: 25px;
    }
}

@media screen and (max-width: 425px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
}