.intro {
  margin: 0 auto;
  max-width: 690px;
  margin-top: 92px;
  margin-right: 148px;
  
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
   }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 84px;
  }
}
