.lead__subtitle {
    max-width: 640px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin: 32px 0 0;
}

@media screen and (max-width: 380px) {
    .lead__subtitle {
        font-size: 15px;
       }
  }

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        max-width: 288px;
        margin-top: 16px;
    }
  }