.lead__subtitle {
    width: 640px;
    line-height: 36px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
   margin: 32px auto;

}

@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 125%;
        width: 288px;
    }
  }