.cover {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    margin-top: 92px;
    position: relative;
    max-width: 1184px;
    max-height: 740px;
}


@media screen and (max-width: 1024px) {
    .cover {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .cover {
      margin: 0;
      max-height: 480px;
    }
  }
  
  @media screen and (max-width: 425) {
    .cover {
      margin-top: 66px;
    }
  }
