.cover {
    display: flex;
    flex-direction: column;
    margin: 92px auto 92px;
    padding: 0;
}

@media screen and (max-width: 459px) {
    .cover__subtitle {
        min-height: 200px;
        font-size: 14px;
        margin-top: 16px;
    }
}