.footer__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
  }


@media  (max-width: 768px) {
    .footer__nav {
        flex-direction: column;
    }
}

@media  (max-width: 490px) {
    .footer__nav {
        align-items: flex-start;
        margin-left: 40px;
    }
}

@media  (max-width: 320px) {
    .footer__nav {
        margin-left: 16px;
    }
}