.lead__caption {
    align-self: flex-start;
    margin-top: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}