.cover__title {
    max-width: 560px;
    padding: 0;
    margin: 0 auto;
    font-family: 'Inter' Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    text-align: center;
}

@media screen and (max-width: 1280px) {
    .cover__title {
        margin: 245px auto 0;
        
    }
}

@media screen and (max-width: 1024px) {
    .cover__title {
        margin-top: 195px;
       
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        margin-top: 115px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
       font-size: 32px;
       line-height: 109%;
       margin-top: 33px;
    }
}