.place {
    margin: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    gap: 48px 40px;
    max-width: 984px;

}

.place:last-of-type {
    margin-bottom: 0;
    
}

@media screen and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 700px) {
    .place {
        grid-template-columns: 1fr;
    }
}