.place {
    margin: 0;
    padding: 0;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    gap: 48px 40px;
    max-width: 984px;

}



@media screen and (max-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        column-gap: 28px;
    }
}

@media screen and (max-width: 700px) {
    .place {
        grid-template-columns: 100%;
        row-gap: 32px;
    }
}