.place__url-heading {
    margin: 0;
    margin-bottom: 12px;
    padding: 0;
    color: #AAAAAA;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }