.header__lang-links {
    display: flex;
    padding: 0;
    margin-bottom: 6px;
    list-style: none;
}


@media screen and (max-width: 425px) {
    .header__lang-links {

      margin-bottom: 6px;
    }
  }