.place__website {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 12px;
}


@media screen and (max-width: 420px) {
    .place__website {
        margin-left: 16px;
    }
}