.intro__title {
    line-height: 107%;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .intro__title {
      font-size: 32px;
    }
  }